
ErrorDocument 400 /.error.php
ErrorDocument 401 /.error.php
ErrorDocument 403 /.error.php
ErrorDocument 404 /404.php
ErrorDocument 405 /.error.php
ErrorDocument 408 /.error.php
ErrorDocument 414 /.error.php
ErrorDocument 500 /index.php?page=500
ErrorDocument 502 /.error.php
ErrorDocument 504 /.error.php

Options +FollowSymLinks

RewriteEngine On
RewriteBase /
RewriteRule    ^#/?$ index.php?page=500 [NC,L]
RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteRule .* 404.php [F]


## Software Articles
#
RewriteRule    ^kaosium/joomla-extensions index.php?page=joomla-extensions [NC,L]

RewriteRule    ^software/dnd-game-manager index.php?page=dnd-game-manager [NC,L]

RewriteRule    ^software/joomla-extensions index.php?page=joomla-extensions [NC,L]

RewriteRule    ^preview/dnd-game-manager-309 index.php?page=dnd-game-manager-309 [NC,L]

RewriteRule    ^software/the-legend-of-jaida index.php?page=the-legend-of-jaida [NC,L]

RewriteRule    ^software/conundrum index.php?conundrum [NC,L]

RewriteRule    ^software/kaosrom index.php?kaosrom [NC,L]

RewriteRule    ^software/custom-application-design index.php?custom-application-design [NC,L]

RewriteRule    ^software/the-legend-of-jaida index.php?page=the-legend-of-jaida [NC,L]

RewriteRule    ^the-legend-of-jaida?$ index.php?page=captcha [NC,L]

RewriteRule    ^pages/thanks/?$ index.php?page=thanks [NC,L]

RewriteRule    ^software/kaos-social-icons/?$ index.php?page=joomla-extensions [NC,L]

RewriteRule    ^featured/about-kdg/?$ index.php [NC,L]

RewriteRule    ^projects/software/?$ index.php?page=software [NC,L]

RewriteRule    ^software/?$ index.php?page=software [NC,L]

RewriteRule    ^/m/index.php?page=software index.php?page=software [NC,L]

RewriteRule    ^contact-us/?$ index.php?page=contact-us [NC,L]

RewriteRule    ^menu/contact-us/?$ index.php?page=contact-us [NC,L]

RewriteRule    ^pages/kdg-on-facebook/?$ index.php?page=kdg-on-facebook [NC,L]

RewriteRule    ^mobile/index.php?page=joomla?$ index.php?page=joomla-extensions [NC,L]

RewriteRule    ^wordpress/?$ log-ip.php [NC,L]

RewriteRule    ^wordpress/([a-z0-9-]+) log-ip.php [NC,L]

RewriteRule    ^wp/?$ log-ip.php [NC,L]

RewriteRule    ^wp/([a-z0-9-]+) log-ip.php [NC,L]

RewriteRule    ^blog/?$ log-ip.php [NC,L]

RewriteRule    ^blog/([a-z0-9-]+) log-ip.php [NC,L]

RewriteRule    ^user/?$ log-ip.php [NC,L]

RewriteRule    ^user/([a-z0-9-]+) log-ip.php [NC,L]

RewriteRule    ^administrator/?$ log-ip.php [NC,L]

RewriteRule    ^administrator/([a-z0-9-]+) log-ip.php [NC,L]

RewriteRule    ^pages/not-found index.php?page=not-found [NC,L]

##  Tutorials Articles
#


##RewriteRule    ^tutorials/airbase-clone-spoof-a-wifi-network #index.php?page=airbase-clone-spoof-a-wifi-network [NC,L]

RewriteRule    ^part-3-social-engineering-attacks/?$ index.php?page=pentetration-testing-intro [NC,L]

RewriteRule    ^tutorials/airbase-clone-spoof-a-wifi-network/?$ index.php?page=airbase-clone-spoof-a-wifi-network [NC,L]

RewriteRule    ^tutorials/urlsnarf-monitor-web-traffic/?$ index.php?page=urlsnarf-monitor-web-traffic [NC,L]


RewriteRule    ^part-1-wifi-passwords/mitigation-overcoming-wifi-security-measures/?$ index.php?page=overcoming-wifi-security-measures [NC,L]


RewriteRule    ^overcoming-wifi-security-measures/mdk3-packet-flooding/?$ index.php?page=mdk3-packet-flooding [NC,L]

RewriteRule    ^overcoming-wifi-security-measures/aireplay-forcing-an-ap-deauth/?$ index.php?page=aireplay-forcing-an-ap-deauth [NC,L]


RewriteRule    ^/part-2-man-in-the-middle-techniques?$ index.php?page=part-2-man-in-the-middle-techniques [NC,L]

RewriteRule    ^tutorials/part-2-man-in-the-middle-techniques index.php?page=part-2-man-in-the-middle-techniques [NC,L]

RewriteRule    ^tutorials/mdk3-packet-flooding index.php?page=mdk3-packet-flooding [NC,L]

RewriteRule    ^tutorials/aireplay-forcing-an-ap-deauth index.php?page=aireplay-forcing-an-ap-deauth [NC,L]

RewriteRule    ^tutorials/overcoming-wifi-security-measures index.php?page=overcoming-wifi-security-measures [NC,L]

RewriteRule    ^tutorials/aircrack-testing-wep-and-wpa-wpa2-passwords index.php?page=aircrack-testing-wep-and-wpa-wpa2-passwords [NC,L]

RewriteRule    ^tutorials/reaver-testing-wps-wifi-passwords index.php?page=reaver-testing-wps-wifi-passwords [NC,L]

RewriteRule    ^tutorials/brute-force-testing-wep index.php?page=brute-force-testing-wep [NC,L]

RewriteRule    ^tutorials/wifite-automated-wifi-testing index.php?page=wifite-automated-wifi-testing [NC,L]

RewriteRule    ^tutorials/part-1-wifi-passwords index.php?page=part-1-wifi-passwords [NC,L]

RewriteRule    ^tutorials/introduction-to-kali-linux index.php?page=introduction-to-kali-linux [NC,L]

RewriteRule    ^tutorials/pentetration-testing-intro index.php?page=pentetration-testing-intro [NC,L]



# 404 if not found
RewriteRule    ^tutorials/([a-z0-9-]+) 404.php [NC,L]



## Services Articles
RewriteRule    ^featured/web-design index.php?page=web-design [NC,L]

RewriteRule    ^services/web-design index.php?page=web-design [NC,L]

RewriteRule    ^services/search-engine-optimization index.php?page=search-engine-optimization [NC,L]

RewriteRule    ^services/social-network-integration index.php?page=social-network-integration [NC,L]

RewriteRule    ^services/cross-browser-support index.php?page=cross-browser-support [NC,L]

RewriteRule    ^services/real-time-analytics index.php?page=real-time-analytics [NC,L]

RewriteRule    ^services/hosting-and-maintenance-packages index.php?page=hosting-and-maintenance-packages [NC,L]

RewriteRule    ^services/other-web-solutions index.php?page=other-web-solutions [NC,L]

RewriteRule    ^services/on-a-budget index.php?page=on-a-budget [NC,L]




# 404 if not found
RewriteRule    ^services/([a-z0-9-]+) 404.php [NC,L]

RewriteRule    ^([a-z0-9-]+)/?$ 404.php  [NC,L]



## Pages
#
RewriteRule    ^pages/([a-z0-9-]+) index.php?page=$1 [NC,L]



## Back End
#
RewriteRule    ^admin/?$ /admin/ [NC,L]



## Error Pages
#

RewriteRule    ^500/?$ index.php?page=500 [NC,L]


## Make Joomla Extensions Directory Happy 
#
RewriteRule    ^joomla-extensions/kaos-social-icons-module-for-joomla/?$ index.php?page=joomla-extensions [NC,L]

DirectoryIndex index.htm index.html index.shtml index.php default.php .index.php

## Blocks for Attempted Hackers
#
deny from 91.200.11.
deny from 91.200.12.
deny from 45.79.89.188
deny from 68.71.148.
deny from 51.254.129.9
deny from 151.80.44.115
deny from 54.207.70.4
deny from 188.40.255.
deny from 197.201.0.26
deny from 77.88.21.11
deny from 199.21.99.215
deny from 87.250.250.11
deny from 93.158.134.11
deny from 5.255.255.5
deny from 141.8.143.
deny from 107.178.194.124
deny from 62.210.215.117
deny from 180.76.15.
deny from 108.168.212.34
deny from 162.210.196.129
deny from 188.163.80.198
deny from 90.47.155.192
deny from 62.210.215.117
deny from 197.219.0.71
deny from 201.162.80.214
deny from 134.249.159.5
deny from 46.246.40.60
deny from 62.212.73.49
deny from 204.236.235.245
deny from 195.154.200.93
deny from 173.172.189.125
deny from 38.100.21.61
deny from 100.43.91.9
deny from 46.161.3.202
deny from 40.77.167.
deny from 101.226.168.204
deny from 78.130.192.194
deny from 157.55.2.155
deny from 187.13.253.89
deny from 45.79.81.142
deny from 149.3.144.213
deny from 108.59.8.80
deny from 86.184.170.149
deny from 5.9.87.111
deny from 91.226.212.160
deny from 198.23.144.109
deny from 66.147.242.197
deny from 177.98.42.18
deny from 23.94.38.117
deny from 173.172.189.125
deny from 122.150.69.130
deny from 46.185.42.27
deny from 51.255.65.7
deny from 100.43.
deny from 141.8.143.239
deny from 168.235.
deny from 97.85.34.122
deny from 78.46.50.246
deny from 195.221.138.17
deny from 151.80.31.182
deny from 13.90.210.143
deny from 52.207.245.121
deny from 54.197.118.253
deny from 77.75.
deny from 68.180.228.154
deny from 207.241.231.171
deny from 64.246.187.42
deny from 54.197.118.253
deny from 178.63.86.11
deny from 51.254.215.140
deny from 51.255.36.87
deny from 62.210.
deny from 123.125.71.70
deny from 69.30.213.202
deny from 45.55.43.155
deny from 69.30.234.2
deny from 144.76.
deny from 5.9.85.4
deny from 89.163.148.58
deny from 178.203.146.227
deny from 169.229.3.90
deny from 178.255.44.186
deny from 66.249.79.141
deny from 66.249.79.226
deny from 66.249.79.148
deny from 66.249.64.147
deny from 66.249.66.181
deny from 66.249.75.201
deny from 5.255.250.69
deny from 66.249.65.2
deny from 66.249.79.155
deny from 66.249.79.219
deny from 157.55.39.60
deny from 66.249.79.212
deny from 66.249.79.233
deny from 66.249.75.217
deny from 66.249.69.147
